language: python

sudo: false

python:
  - 2.7
  - 3.5

env:
  - DJANGO="Django<1.9"  # Django 1.8.x
  - DJANGO="Django<1.10" # Django 1.9.x

cache:
  directories:
    - $HOME/.cache/pip

matrix:
  allow_failures:
    # Allow failures for unreleased Django version
    - env: DJANGO="Django<1.10"
      python: 3.5
    - env: DJANGO="Django<1.9"
      python: 3.5

# command to install dependencies
install:
  - pip install -r django_requirements.txt --use-mirrors
  - pip install -q $DJANGO --use-mirrors
  - pip install -r test_requirements.txt --use-mirrors

# command to run tests
script: env PYTHONPATH=$PWD django-admin.py test --settings=test_settings

# submit coverage reports
after_success:
  - coveralls
